
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fafafa;
    color: #111;
    
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 60px 120px 20px;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    
    display: inline-block;
    
    margin-bottom: 10px;
}

h2 {
    font-weight: 400;
    line-height: 1;
    
    margin-bottom: 10px;
}

.status {
    width: 250px;
    float: right;
    
    text-shadow: 0 -1px white;
}

.status > ul {
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.up {
    color: #16CC2F;
}

.down {
    color: #CC1816;
}

canvas {
    display: block;
}
